<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <a href="{{movies.url}}" class="lead">{{movies.title}}</a>

    <form action="/movies/{{post._id}}/comments" method="movies">
      <textarea class='form-control' name="content" placeholder="asdf"></textarea>
      <div class="text-right">
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
    </form>
    {{#each post.comments}}
    <p>{{this.content}}</p>
    <p>{{post.author.username}}</p>
    {{/each}}
  </div>
</div>