<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <a href="{{movies.url}}" class="lead"><b>{{movies.title}}</b> <small>({{movies.year}})</small></a>

    {{!-- So the route is correct, need to find controllers issue --}}
    <form action="/deleteMovies/{{movies._id}}" method="Movies">
      <div class="text-left">
        <button type="link">Delete</button>
      </div>
    </form>
    <form action="/updateMovies/{{movies._id}}" method="Movies">
      <div class="text-left">
        <button type="submit" class="btn btn-primary">Update</button>
      </div>
    </form>
  </div>
</div>